.buttonContainer {
  display: flex;
  gap: 1em;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  width: 13em;
  padding: 1em;
  font-family: "Nanum Gothic", sans-serif;
  row-gap: 1em;
  min-width: 0;
  max-width: 100%;
}

.card.large {
  font-size: 1.5em;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile.large {
  height: 180px;
  width: 180px;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1400px) {
  .buttonContainer > * {
    font-size: 0.8em;
  }

  .card {
    width: 12em;
    row-gap: 0.9em;
  }

  .card.large {
    font-size: 1.4em;
  }

  .profile {
    height: 40px;
    width: 40px;
  }

  .profile.large {
    height: 160px;
    width: 160px;
  }
}

@media (max-width: 1200px) {
  .buttonContainer > * {
    font-size: 0.6em;
  }

  .card {
    width: 9.5em;
    row-gap: 0.8em;
    padding: 0.7em;
  }

  .card.large {
    font-size: 1.2em;
  }

  .profile {
    height: 40px;
    width: 40px;
  }

  .profile.large {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 992px) {
  .buttonContainer {
    gap: 0.5em;
  }

  .buttonContainer > * {
    font-size: 0.6em;
  }

  .card {
    width: 9em;
    row-gap: 0.8em;
  }

  .card.large {
    font-size: 1.2em;
  }

  .profile {
    height: 35px;
    width: 35px;
  }

  .profile.large {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 768px) {
  .buttonContainer > * {
    font-size: 0.5em;
    font-weight: 700;
  }

  .card {
    width: 7em;
    row-gap: 0.7em;
    padding: 0.5em;
  }

  .card.large {
    font-size: 1.1em;
  }

  .profile {
    height: 30px;
    width: 30px;
  }

  .profile.large {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 576px) {
  .buttonContainer > * {
    font-size: 0.5em;
  }

  .card {
    width: 7em;
    row-gap: 0.7em;
    padding: 0.5em;
  }

  .card.large {
    font-size: 1.1em;
  }

  .profile {
    height: 30px;
    width: 30px;
  }

  .profile.large {
    height: 70px;
    width: 70px;
  }
}
