.app {
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.chatBubble {
  display: flex;
  gap: 0.5em;
  align-items: end;
}

.chatBubble > * {
  margin: 0;
}

.chatBubble.incoming {
  display: flex;
  justify-content: flex-start;
}

.chatBubble.outgoing {
  display: flex;
  flex-direction: row-reverse;
}

.chatBubble img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.chatHeader {
}

.chatList {
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.chatListItem {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chatListItem:hover {
  background-color: #eaeaea;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chatRow {
}

.hideOnMobile {
}

.lastMessage {
}

/* .chatBubble.outgoing::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.chatBubble.outgoing::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.tailedBubble {
  background-color: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.tailedBubble p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

.tailedBubble p::before,
.tailedBubble p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
} */

.timeStamp {
  font-size: 0.5em;
}
