.alternatePrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 2rem;
}

.anchorWrapper {
  text-decoration: underline;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.window {
  margin: 1.5rem 2rem;
  width: fit-content;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  row-gap: 1em;
}

.inputWrapper,
.selectWrapper {
  height: 2.25rem;
  border-radius: 8px;
  border: 1px solid rgba(222, 222, 222, 1);
  font-size: 14px;
  min-width: 20vw;
  align-items: center;
}

.inputWrapper::placeholder {
  font-size: 1em;
  font-style: italic;
}

.paragraphWrapper {
  color: rgba(132, 132, 132, 1);
}

.passwordLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(8, 31, 92, 1);
  color: rgba(255, 255, 255, 1);
  width: 40%;
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.window {
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 8px;
  padding: 1.5rem 2rem;
  width: fit-content;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .window {
    font-size: 15px;
  }

  .inputWrapper,
  .selectWrapper {
    height: 2rem;
    font-size: 13px;
  }

  .submitButton {
    height: 2rem;
    font-size: 15px;
    border-radius: 8px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  .window {
    font-size: 14px;
  }

  .inputWrapper,
  .selectWrapper {
    height: 1.8rem;
    font-size: 12px;
  }

  .submitButton {
    height: 1.8rem;
    font-size: 14px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .window {
    font-size: 12px;
  }

  .formLabel {
    margin-bottom: 0.25rem;
  }

  .inputWrapper,
  .selectWrapper {
    height: 1.6rem;
    font-size: 10px;
    border-radius: 6px;
  }

  .submitButton {
    height: 1.6rem;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .window > * {
    font-size: 10px;
  }

  .inputWrapper,
  .selectWrapper {
    height: 1.4rem;
    font-size: 8px;
  }

  .submitButton {
    height: 1.4rem;
    font-size: 10px;
  }

  .title {
    font-size: 22px;
  }
}
