.calendar-page-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.calendar-page-container .react-calendar {
  border: none;
  width: 100%;
}

.calendar-page-container
  .react-calendar__month-view__days__day--neighboringMonth {
  background-color: rgba(248, 248, 248, 1);
}

.calendar-page-container .react-calendar__month-view__weekdays {
  text-align: start;
}

.calendar-page-container .react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(150, 150, 150, 1);
}

.calendar-page-container .react-calendar__viewContainer,
.calendar-page-container .react-calendar__month-view__weekdays__weekday {
  border: rgba(0, 0, 0, 0.12) solid 0.5px;
}

.calendar-page-container .react-calendar__tile {
  display: flex;
  /* min-height: 9rem; */
  aspect-ratio: 1/1;
  border: rgba(0, 0, 0, 0.12) solid 0.5px;
  align-items: start;
  justify-content: start;
}

.calendar-page-container .react-calendar__tile--now {
  background-color: transparent;
}

.calendar-page-container
  .react-calendar__navigation__prev2-button
  .react-calendar__navigation__next2-button {
  visibility: hidden;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .calendar-page-container .react-calendar__month-view__weekdays__weekday {
    padding: 4px;
  }

  /* .calendar-page-container .react-calendar__tile {
    min-height: 7rem;
  } */
}

@media (max-width: 992px) {
  .calendar-page-container .react-calendar__month-view__weekdays__weekday > * {
    font-size: 11px;
  }

  .calendar-page-container .react-calendar__tile {
    /* min-height: 5.5rem; */
    font-size: 12px;
    padding: 4px;
  }
}

/* @media (max-width: 768px) {
  .calendar-page-container .react-calendar__tile {
    min-height: 5rem;
  }
} */

@media (max-width: 576px) {
  .calendar-page-container .react-calendar__month-view__weekdays__weekday {
    padding: 3px;
  }

  .calendar-page-container .react-calendar__month-view__weekdays__weekday > * {
    font-size: 10px;
  }

  .calendar-page-container .react-calendar__tile {
    /* min-height: 4rem; */
    font-size: 10px;
    padding: 3px;
  }
}
