.calendar-widget-container .fc {
  font-family: "Lato", sans-serif;
}

/* 'Days' row */
.calendar-widget-container .fc-col-header-cell-cushion {
  text-transform: uppercase;
  font-size: 12px;
}

.fc .fc-col-header {
  margin-bottom: 2rem;
}

/* Remove all borders */
.calendar-widget-container .fc-daygrid-day {
  border: none !important;
}

.fc-scrollgrid,
.fc-scrollgrid-section,
.fc-scrollgrid-sync-table,
.fc-col-header-cell {
  border: none !important;
}

.fc .fc-scrollgrid-section > * {
  border-width: 0;
}

/* Toolbar title */
.calendar-widget-container .fc-toolbar-title {
  color: rgba(130, 130, 130, 1);
}

.fc-daygrid-day-top {
  justify-content: center;
}

/* Event pill */
.fc .fc-event-title-container {
  height: 0.5em;
}

.fc .fc-event {
  border-radius: 8px;
}

.fc .fc-event-title {
  display: none;
}

/* Locale font */
.lang-ko .fc-col-header-cell-cushion {
  font-weight: 600;
  font-size: 0.9em;
}

.lang-en .fc-col-header-cell-cushion {
  font-size: 0.85em;
}
