a {
  color: black;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  max-width: 100%;
}

.app > * {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 20px;
}

.sidebar {
  flex: 5;
  box-sizing: border-box;
  overflow-y: auto;
  margin-left: 0.5rem;
  margin-right: 4.75rem;
}
