.date {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
}

.dayEventContainer {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

.eventCard {
  display: flex;
  background-color: #d1d0cd; /* placeholder */
  border-radius: 8px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-weight: 700;
}

.eventContainer {
  flex: 2;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid black;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.placeContainer {
  font-size: 0.75em;
  font-weight: 500;
}

.timeContainer {
  flex: 1;
  align-self: center;
  text-align: center;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .date {
    font-size: 1.4em;
  }

  .timeContainer,
  .titleContainer {
    font-size: 0.9em;
  }

  .placeContainer {
    font-size: 0.7em;
  }
}

@media (max-width: 992px) {
  .date {
    font-size: 1.2em;
  }

  .timeContainer,
  .titleContainer {
    font-size: 0.7em;
  }

  .placeContainer {
    font-size: 0.6em;
  }
}

@media (max-width: 768px) {
  .date {
    font-size: 1.4em;
  }

  .timeContainer,
  .titleContainer {
    font-size: 1em;
  }

  .placeContainer {
    font-size: 0.75em;
  }
}
