.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 8px;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  z-index: 1;
  width: auto;
  bottom: 8rem;
  background-color: white;
  padding: 1.5rem 1rem;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .boardContainer {
    bottom: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (max-width: 992px) {
  .boardContainer {
    bottom: 11rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .boardContainer {
    bottom: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 576px) {
  .boardContainer {
    bottom: 13rem;
  }

  .titleRow {
    display: none;
  }
}
