.navBar {
  margin: 0.75em 2em;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.selected {
  background-color: rgba(132, 132, 132, 1);
  border: 0px rgba(132, 132, 132, 1);
  color: rgba(255, 255, 255, 1);
}
