.titleCard {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 14rem;
  background-color: rgba(38, 84, 206, 0.3);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 2.5rem 3rem;
}
