.titleCard {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 18rem;
  background-color: rgba(38, 84, 206, 0.3);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 2.5rem 3rem;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .titleCard {
    font-size: 36px;
    padding: 2rem 2.5rem;
    height: 16rem;
  }
}

@media (max-width: 992px) {
  .titleCard {
    font-size: 32px;
    padding: 1.5rem 2rem;
    height: 14rem;
  }
}

@media (max-width: 768px) {
  .titleCard {
    font-size: 28px;
    padding: 1rem 1.5rem;
    height: 11rem;
  }
}

@media (max-width: 576px) {
  .titleCard {
    font-size: 22px;
    height: 9.5rem;
  }
}
