.contentRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.formSubcontainer {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  row-gap: 1em;
}

.inputGroup {
  min-width: 20vw;
  width: 22em;
}

.inputWrapper,
.selectWrapper {
  width: 25em;
}

.studentTypeContainer {
  display: flex;
  justify-self: center;
  column-gap: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.inputButtonWithWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.verifyButton {
  border-radius: 8px;
  border: none;
  background-color: #2654ce;
  color: #ffffff;
  font-size: 1em;
  padding: 0.4rem 0.75rem;
  cursor: pointer;
  white-space: nowrap;
  height: inherit;
  text-align: center;
}

.showPasswordToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

/* ------- Responsive Styles ------- */
@media (max-width: 768px) {
  .verifyButton {
    border-radius: 6px;
  }
}
