.checkboxInput {
  margin-right: 5px;
}

.formSubcontainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  margin: 0px 10px;
  width: 12em;
  padding: 1em;
}

.formWrapper {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.formRow {
  row-gap: 3em;
  justify-content: center;
}

.formColumn {
  display: flex;
  justify-content: center;
}

/* ------- Responsive Styles ------- */
@media (max-width: 1200px) {
  .formSubcontainer {
    font-size: 1.1em;
  }
}

@media (max-width: 992px) {
  .formSubcontainer {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .formSubcontainer {
    font-size: 1.4em;
  }
}
